@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.co/css2?family=Fira+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: rgb(235, 229, 217);
    width: 90vw;
}

.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 30px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.sidebar{
    background-color: rgb(134, 125, 125);
    width : 180px;
    font-family: 'Fira Sans', sans-serif;
    height: 120vh;
}
.container{
    display: flex;

}
.infoContainer{
    background-color: rgb(235, 229, 217);
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devPic img{
    width: 381px;
    height: 58vh;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source code pro', monospace;
}

.moreabout{
    font-size: 22px;
    margin-top: 23px;
    font-family: 'Source code pro', monospace;
}

.skills{
    font-size: 22px;
    margin-top: 23px;
    font-family: 'Source code pro', monospace;
}

.buttons{
    margin-top: 34px;  
}

.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: lightblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
}

.btn-sm{
    font-size: 10px;
}

.btn:hover{
    color: lightseagreen;
    background-color: white;
}

.hello{
    font-size: 60px;
}

.name{
    font-size: 45px;
    font-weight: bold;
}

.about{
    font-size: 30px;
}

.contactform h1{
    font-family: 'Source code pro', monospace;
}

.contactform{
    font-size: 20px;
    padding: 0 34px;
    padding-top: 50px;
    font-family: 'Fira Sans', sans-serif
}

.contactform form div{
    font-size: 30px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    width: 20vw;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
}

#emailHelp{
    font-size: 20px;
    color: rgb(196, 41, 41);
    margin: 0 5px;
}

#form-check{
    flex-direction: row;
}

#form-check-input{
    width: 24px;
    margin: 3px 0;
}

.blogitem{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.blogcontainer h1{
    font-family: 'Fira Sans', sans-serif;
    padding: 0 34px;
    padding-top: 50px;
    text-align: center;
}

.blogitem p{
    font-family: 'Source code pro', monospace;
    padding: 10px;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;    
}

.cross{
    margin-left: 150px;
}
 